<nb-card class="settings-popup" accent="info">
  <nb-card-header>Settings</nb-card-header>
  <nb-card-body>
    <nb-card class="theme-select">
      <nb-card-header>Change Theme:</nb-card-header>
      <nb-card-body>
        <nb-radio-group name="theme" [(ngModel)]="themeOption">
          <nb-radio 
            *ngFor="let themeOption of themeOptions"
            [value]="themeOption.value">
            {{ themeOption.label }}
          </nb-radio>
        </nb-radio-group>
      </nb-card-body>
    </nb-card>

    <nb-card class="language-select">
      <nb-card-header>Change Language:</nb-card-header>
      <nb-card-body>
        <nb-radio-group name="lang" [(ngModel)]="langOption">
          <nb-radio 
            *ngFor="let langOption of languageOptions"
            [value]="langOption.value">
            {{ langOption.label }}
          </nb-radio>
        </nb-radio-group>
      </nb-card-body>
    </nb-card>

    <nb-card class="api-url-change">
      <nb-card-header>Change API URL:</nb-card-header>
      <nb-card-body>
        <input nbInput [(ngModel)]="apiURL" size="large" type="text">
        <button nbButton (click)="changeUrl()" size="small">Change</button>
      </nb-card-body>
    </nb-card>

  </nb-card-body>
</nb-card>
