<nb-layout>
  <nb-layout-header fixed="true">
    <a class="sidebar-toggle" (click)="toggleSidebar()">
      <nb-icon icon="menu-outline"></nb-icon>
    </a>

    <nb-user 
      *ngIf="userService.loggedUser | async"
      (click)="userService.openUserProfileModal($event)"
      [name]="(userService.loggedUser | async)?.name || ''" 
      showName=false 
      [picture]="(userService.loggedUser | async)?.avatarUrl || ''"
      #user>
    </nb-user>

    <button 
      nbButton 
      hero 
      status="primary"  
      size="small"
      (click)="userService.openLoginModal()" 
      *ngIf="!(userService.loggedUser | async)"
      #login>
      Log In
    </button>
  
  </nb-layout-header>
  <nb-sidebar tag="menu" class="sidebar">
    <nb-menu tag='menu-bottom' [items]="menuTop"></nb-menu>
    <nb-menu tag='menu-bottom' [items]="menuBottom" class="sidebar-menu-bottom"></nb-menu>
  </nb-sidebar>
  <nb-sidebar tag="drawer" class="sidebar drawer" [state]="drawerState" right #drawer><!-- no --></nb-sidebar>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>

