<nb-layout>
  <nb-layout-header fixed="true">
    <a class="sidebar-toggle" (click)="toggleSidebar()">
      <nb-icon icon="menu-outline"></nb-icon>
    </a>
    <app-user-header-section></app-user-header-section>
  </nb-layout-header>
  <nb-sidebar tag="menu" class="sidebar">
    <nb-menu tag='menu-bottom' [items]="menuTop"></nb-menu>
    <nb-menu tag='menu-bottom' [items]="menuBottom" class="sidebar-menu-bottom"></nb-menu>
  </nb-sidebar>
  <nb-sidebar tag="drawer" class="sidebar drawer" [state]="drawerState" right #drawer><!-- no --></nb-sidebar>
  <nb-layout-column >
    <router-outlet></router-outlet>
    <app-chat-window *ngIf="userService.loggedUser | async"></app-chat-window>
  </nb-layout-column>
</nb-layout>

