::ng-deep nb-layout-header {
  nav {
    justify-content: space-between !important;

    nb-user {
      cursor: pointer;
    }
    
    .sidebar-toggle {
      [icon] {
        font-size: 2rem;
        cursor: pointer;
      }
      color: #8f9bb3;
    }
  }  
}



::ng-deep nb-sidebar {
  &.menu {
    &.expanded {
      width: 150px;

      .main-container {
        width: inherit;
      }
    }
    .scrollable {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-height: 90vh;
    }  
  }
  
  &.drawer.expanded {
    width: 300px;

    .main-container {
      width: inherit;

      .scrollable {
        padding: 0;
      }
    }
  }
}

app-chat-window {
  width: 400px;
  position: absolute;
  right: 0;
  bottom: 0;
}

