<nb-card class="user-edit-profile-popup" accent="info" >
  <nb-card-header class="user-edit-profile-popup--header">Edit Profile</nb-card-header>
  <nb-card-body class="user-edit-profile-popup--body">
    <div class="user-display">
      <div class="user-avatar-section">
        <div class="edit-header">
          <p>Profile Picture</p>
          <div>
            <input class="file-input" type="file" (change)="changeAvatar($event.target.files)" accept="image/png, image/jpeg, image/jpg" #fileUpload>
            <a class="edit-btn text-link" (click)="fileUpload.click()">Edit</a>
          </div>
        </div>

        <div class="user-avatar">
          <img [src]="avatarUrl || loggedUser?.avatarUrl" alt="">
        </div>
      </div>
      
      <div class="user-details">
        <div class="user-details-row">
          <p>Name</p>
          <input class="form-input" nbInput size="small" [(ngModel)]="name">
        </div>
        
        <div class="user-details-row">
          <p>Email</p>
          <input class="form-input" nbInput size="small" [(ngModel)]="email">
        </div>

        <div class="user-details-row">
          <p>Change Password</p>

          <nb-form-field class="form-input">
            <input type="password" nbInput placeholder="old password" [(ngModel)]="oldPassword" #oldPasswordInput>
            <nb-icon (click)="togglePasswordFieldVisibility(oldPasswordInput)" nbSuffix nbButton ghost [icon]="oldPasswordInput.type==='password' ? 'eye-outline' : 'eye-off-outline'"></nb-icon>
          </nb-form-field>
          <!-- <p *ngIf="password.touched && password.hasError('required')" class="caption status-danger error-message">Password is required</p>
          <p *ngIf="password.touched && password.hasError('minlength')" class="caption status-danger error-message">Password should be at least 6 charecters long</p> -->


          <nb-form-field class="form-input">
            <input type="password" nbInput placeholder="password" [(ngModel)]="password" #passwordInput>
            <nb-icon (click)="togglePasswordFieldVisibility(passwordInput)" nbSuffix nbButton ghost [icon]="passwordInput.type==='password' ? 'eye-outline' : 'eye-off-outline'"></nb-icon>
          </nb-form-field>
          <!-- <p *ngIf="password.touched && password.hasError('required')" class="caption status-danger error-message">Password is required</p>
          <p *ngIf="password.touched && password.hasError('minlength')" class="caption status-danger error-message">Password should be at least 6 charecters long</p> -->
    
          <nb-form-field class="form-input">
            <input  type="password"  nbInput  placeholder="confirm password" [(ngModel)]="confirmedPassword" #confirmedPasswordInput>
            <nb-icon (click)="togglePasswordFieldVisibility(confirmedPasswordInput)" nbSuffix nbButton ghost [icon]="confirmedPasswordInput.type==='password' ? 'eye-outline' : 'eye-off-outline'"></nb-icon>
          </nb-form-field>
          <!-- <p *ngIf="confirmedPassword.touched && confirmedPassword.hasError('required')" class="caption status-danger error-message">Confirmed password is required</p>
          <p *ngIf="confirmedPassword.touched && confirmedPassword.hasError('valueMatch')" class="caption status-danger error-message">Confirmed password should match Password</p> -->
        </div>
      </div>

    </div>

    <div class="user-actions">
      <button (click)="onSave()" nbButton outline status="info" focus="false">Save</button>
      <button (click)="onClose()" nbButton outline status="danger">Close</button>
    </div>
    
  </nb-card-body>
</nb-card>
