.user-edit-profile-popup {
  width: 80vw;
  &--header {
    text-align: center;
  }
  &--body {
    padding: 2rem 5rem;
    .user-display {
      display: flex;
      justify-content: space-around;
      align-items: baseline;
      padding: 0 4rem;

      .form-input {
        width: 100%;
      }

      .user-avatar-section {
        flex: 1;
        padding-right: 3rem;
        .edit-header {
          display: flex;
          align-items: baseline;
          justify-content: space-between;
        }
        .user-avatar {
          text-align: center;
          img {
            width: 20vw;
            height: 20vw;
            object-fit: cover;
            object-position: top;
            border-radius: 50%;
            border: var(--user-picture-box-border-width) solid var(--user-picture-box-border-color);
          }
        }
      }

      .user-details {
        flex: 1;
        padding-left: 3rem;
        border-left: 1px solid;
        &-row {
          .edit-header {
            p {
              padding-right: .5rem;
            }
          }

        }

      }
    }
    .user-actions {
      text-align: center;
      padding-top: 3rem;
      button {
        margin: 1rem;
        min-width: 15vw;
      }
    }

    
  }
  
}

.file-input {
  display: none;
}