<nb-card class="user-login-popup" accent="info" >
  <nb-card-header class="user-login-popup--header">Login</nb-card-header>
  <nb-card-body class="user-login-popup--body">
    <form (ngSubmit)="userService.login(emailInput.value, passwordInput.value)" #loginForm="ngForm" class="login-form">
      <input class="login-form-input" 
        type="email" 
        nbInput 
        status="primary" 
        placeholder="email"
        required
        minlength="6"
        name="email"
        ngModel
        #emailInput>

      <nb-form-field class="login-form-input">
        <input 
          [type]="getInputType()" 
          nbInput 
          status="primary" 
          placeholder="password"
          name="password"
          ngModel
          #passwordInput>

        <nb-icon (click)="toggleShowPassword()" nbSuffix nbButton ghost [icon]="showPassword ? 'eye-outline' : 'eye-off-outline'"></nb-icon>
      </nb-form-field>

      <p>Don`t have an account? <a (click)="onSignup()">Sign Up</a></p>

      <button nbButton type="submit" status="primary"> Log In</button>

      <nb-form-field class="signup-form-input">
        <input 
          type="password"
          nbInput 
          status="primary"      
          passwordVisibilityToggle>
          <!-- <nb-icon nbSuffix nbButton ghost icon="eye-outline"></nb-icon> -->
      </nb-form-field>
    </form>

    <div class="login-buttons">
      <button nbButton status="primary"><nb-icon icon="facebook"></nb-icon>Log in with Facebook</button>
      <button nbButton status="danger"><nb-icon icon="google"></nb-icon>Log in with Google</button>
    </div>
  </nb-card-body>
</nb-card>

